#  Time duration:
#    µs - microseconds
#    ms - milliseconds
#    s - seconds
#    m - minutes
#    h - hours

[server]
host        = '0.0.0.0'
port        = 3333
numThreads  = 2

[influxdb]
host        = '127.0.0.1'
port        = 8086
path        = '/api/v2/write?org=YOUR_ORG&bucket=YOUR_BUCKET&precision=ns'
token       = ''
interval    = '1m'

[mysql]
charset     = 'utf8'
database    = 'thegame'
host        = '127.0.0.1'
port        = 0
user        = ''
password    = ''
maxIdleTime = 600

[room]
numThreads = 4
updateInterval = '20ms'
spawnPosTryCount = 10

checkPlayersInterval = '5s'
updateLeaderboardInterval = '1s'
destroyOutdatedCellsInterval = '3s'
checkMothersInterval = '10s'
produceMothersInterval = '1s'

viewportBase = 743
viewportBuffer = 0.1
aspectRatio = 1.77778

width = 6144
height = 6144
maxMass = 50000
maxPlayers = 50
maxRadius = 100
leaderboardVisibleItems = 20
scaleRatio = 0.75
explodeVelocity = 500

botNames = ['Nebula', 'Solaris', 'Celestia', 'Quasar', 'Zenith', 'Lunar', 'Stardust', 'Nova', 'Galaxia', 'Cosmos']

resistanceRatio = 750.0
elasticityRatio = 30.0

cellMinMass = 35
cellRadiusRatio = 6.0

[room.player]
mass = 250
maxCells = 16
deflationThreshold = '30s'
deflationInterval = '500ms'
deflationRatio = 0.1
annihilationThreshold = '1m'
pointerForceRatio = 2.5

[room.bot]
mass = 500

[room.avatar]
minVelocity = 200
maxVelocity = 600
explosionMinMass = 35
explosionParts = 5
splitMinMass = 100
splitVelocity = 600
ejectionMinMass = 82
ejectionVelocity = 550
ejectionMass = 50
ejectionMassLoss = 100
recombinationTime = 8

[room.food]
mass = 5
radius = 8
quantity = 2000
maxQuantity = 5000
minVelocity = 190
maxVelocity = 210
resistanceRatio = 30.0

[room.virus]
mass = 165
quantity = 10
maxQuantity = 20
lifeTime = '5m'
color = 13

[room.phage]
mass = 165
quantity = 10
maxQuantity = 10
lifeTime = '5m'
color = 14

[room.mother]
mass = 240
maxMass = 1200
quantity = 10
maxQuantity = 20
lifeTime = '10m'
color = 12
checkRadius = 60

[room.generator.food]
interval = '1s'
quantity = 3

[room.generator.virus]
interval = '7s'
quantity = 1

[room.generator.phage]
interval = '7s'
quantity = 1

[room.generator.mother]
interval = '10s'
quantity = 1
